@tailwind base;
@tailwind components;
@tailwind utilities;
/* *{
  padding: 0;
  margin: auto;
  box-sizing: border-box;
} */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
   
}
header .react-datepicker-wrapper,.react-datepicker__input-container{
  height: 100%;
}

